.col-lg-3.pull-right
  .help-navigation
    %strong Topics
    %ul.list-unstyled
      %li= link_to "Getting started", help_path
      %li= link_to ".inch.yml", help_configuration_yaml_path
      %li= link_to "inch.json", help_configuration_json_path
      %li= link_to "Webhooks", help_webhook_path

    %strong Inch on the web
    %ul.list-unstyled
      %li= link_to "Raising the visibility of inline-docs", "http://trivelop.de/2014/02/24/visibility-of-documentation/"
      %li= link_to "Why Inch doesn't use percentages", "http://trivelop.de/2014/02/17/why-inch-doesnot-use-percentages/"
    %strong Project pages
    %ul.list-unstyled
      %li= link_to "Inch project page", "http://trivelop.de/inch"
      %li= link_to "InchJS project page", "http://trivelop.de/inchjs"
