.col-lg-6
  .widget
    .widget-title
      = icon :database
      = link_to "Latest projects", admin_projects_path
      %small.text-muted
        (Live)

    .widget-body.medium.no-padding{:"data-scroll-down" => true}
      .table-responsive
        %table.table.projects
          %tbody
            - @new_projects.each do |project|
              - if project.default_branch
                %tr{:class => created_at_classes(project)}
                  %td= link_to_project(project, project.id)
                  %td= link_to(project.name, project.source_code_url, :target => '_blank')
                  %td= link_to project.language, admin_projects_path(:language => project.language)
                  %td.text-right
                    - if project.default_branch.latest_revision
                      - if project.default_branch.latest_revision.badge_in_readme?
                        %span.text-success= icon(:check)
                      = link_to_project project, image_tag(BadgeMarkup.new(project, project.default_branch).image_path(:svg))
