.col-lg-6
  .widget
    .widget-title
      = icon :'bar-chart'
      = "Newsfeed"

    .widget-body.large{:"data-scroll-down" => true}
      .table-responsive
        %table.table.newsfeed
          %tbody
            - @newsfeed.each do |day|
              %tr
                %th= day.title
                %td
                  = day.badges_added
                  badges added.
                %td
                  = day.badges_removed
                  removed.
                %td
                  = day.not_forked_projects_created
                  non-forked projects created.
                %td
                  = day.failed_builds
                  failed builds.
