- unless @running_builds.empty?
  %h3.sub-header= t("builds.index.running_header", :count => @running_builds.size).html_safe
  = render "table", :builds => @running_builds

- unless @scheduled_builds.empty?
  %h3.sub-header= t("builds.index.scheduled_header", :count => @scheduled_builds.size).html_safe
  = render "table", :builds => @scheduled_builds

- unless @completed_builds.empty?
  %h3.sub-header= t("builds.index.completed_header")
  = render "table", :builds => @completed_builds
