- content_for(:subheader) do
  - if @project
    = back_button project_path(@project)

  %h2.sub-header
    - if @project
      = t("builds.index.title_with_project", :project_name => @project.name)
    - else
      = t("builds.index.title")


.row.row-content
  .container
    .repo-wrapper
      .repo-card
        .repo-info
          #builds_index= render "index"

:javascript
  I.wait_for_build.initReload('#{url_for(params.merge(:format => :js))}');
