%h4= @code_object.fullname

%strong= t('.docstring_header')
.pre-container
  = link_to t('.view_on_github'), url_on_github(@code_object.filename, @code_object.line_no), :target => '_blank'
  %pre=@code_object.docstring.presence || "(none)"

- bad_roles = @code_object.bad_code_object_roles
- if bad_roles.empty?
  %strong= t('.no_suggestions_header')
- else
  %strong= t('.suggestions_header')
  %ul
    - bad_roles.each do |code_object_role|
      - desc = code_object_role.to_desc(@code_object)
      - if desc.present?
        %li= desc

.issue-hint
  = t('.issue_hint.text', :link => link_to(t('.issue_hint.link'), github_issue_url(:project => @project, :branch => @branch, :revision => @revision, :code_object => @code_object), :target => '_blank')).html_safe

