.repo-wrapper
  .repo-card
    .topbar
      %h1
        = t("users.show.title", :name => @user.name, :user_name => @user.user_name)
        = link_to image_tag("GitHub-Mark-32px.png", :class => "github-logo"), @user.github_url, :target => '_blank'

      - if current_user?
        .pull-left
          %p.description
            = t(@projects.empty? ? ".empty_hint" : ".sync_hint", :time_ago => @user.last_synced_projects_at && time_ago_in_words(@user.last_synced_projects_at))

        .pull-right
          .btn-group
            = link_to t(".sync_now"), sync_projects_path, :class => "btn btn-default", :method => :post, :"data-sync-projects" => true
        %div{:style => 'clear:both'}

    .stats#syncing{:style => 'display:none'}
      .progress.progress-striped.active
        .progress-bar.progress-bar-U{:style => "width: 100%"}

    .repo-info
      .explanation
        %p
          = t(".only_public_hint").html_safe

        - flash[:error].tap do |error_message|
          %p.error
            = error_message

      = render "projects" unless @projects.empty?
