.repo-wrapper
  .repo-card
    .repo-info
      = render "help_header"

      %h2= t('help_webhook.headline')

      = markdown t('help_webhook.abstract')

      = markdown t('help_webhook.howto1')

      %p.help-image= image_tag "help-webhook/1-repo.png"

      = markdown t('help_webhook.howto2')

      %p.help-image= image_tag "help-webhook/2-settings.png"

      = markdown t('help_webhook.howto3')

      %p.help-image= image_tag "help-webhook/3-webhooks.png"

      = markdown t('help_webhook.howto4')

      %p.help-image= image_tag "help-webhook/4-add-webhook.png"

      = markdown t('help_webhook.howto5')

      %p.help-image= image_tag "help-webhook/5-done.png"
