- content_for(:subheader) do
  .welcome-promo
    %h1= t('welcome.headline')

    = markdown t('welcome.abstract')

    = render 'projects/form_new'

    = markdown t('welcome.abstract2')

.row.row-subsubheader
  .container.welcome-promo

    %h1= t('welcome.featured_javascript_projects')
    = render "projects/featured", :featured_projects => featured_projects(:javascript)
    %p
      = link_to "Learn how to help ...", lets_do_javascript_path

    %hr

    %h1= t('welcome.featured_elixir_projects')

    = render "projects/featured", :featured_projects => featured_projects(:elixir)

    = render "shared/elixirstatus_promo_hint"

    %hr

    %h1= t('welcome.featured_ruby_projects')

    = render "projects/featured", :featured_projects => featured_projects(:ruby)

    %hr

    %p
      = link_to t('welcome.learn_more'), about_path, :class => 'btn btn-lg btn-default'


.row.row-content
  .container.welcome-promo

    %h1
      %span.text-muted  #
      Goals of this project
    %hr

    %h2
      %span.text-muted  1
      Raising awareness for visibility.
    %p.lead
      Documentation is often neglected, although I think it is the art of
      = link_to "Copywriting for Hackers!", "http://trivelop.de/2014/01/26/about-documentation/", :target => '_blank'


    %hr

    %h2
      %span.text-muted  2
      Providing badges for visibility.
    %p.lead
      I believe badges are a great way to raise awareness and they are able to give a quick overview.


    %hr

    %h2
      %span.text-muted  3
      Do not obsess about numbers.
    %p.lead
      Inch is not about coverage in the traditional sense.
    %p.lead
      There are no meaningful differences between 68.2% and 74% docs coverage.
    %p.lead
      So, instead of numbers, we show you a bar.

      Get a decent chunk of green and you are fine.


    %hr

    %p.lead
      You can add your own projects via GitHub:
    %p
      = link_to icon(:github)+' '+t("navigation.signin"), signin_path, :class => 'btn btn-lg btn-signin'

/ %hr

/ %p= t('welcome.signin_hint')
/ %p= link_to icon(:github)+' '+t("navigation.signin"), signin_path, :class => 'btn btn-lg btn-signin'
