%h1.cover-heading
  = t('welcome.headline')

= markdown t('welcome.abstract')

= render 'projects/form_new'

= markdown t('welcome.abstract2')

%hr

%h1= t('welcome.featured_javascript_projects')
= render "projects/featured", :featured_projects => featured_projects(:javascript)
%p
  = link_to "Learn how to help ...", lets_do_javascript_path

%hr

%h1= t('welcome.featured_elixir_projects')

= render "projects/featured", :featured_projects => featured_projects(:elixir)

%hr

%h1= t('welcome.featured_ruby_projects')

= render "projects/featured", :featured_projects => featured_projects(:ruby)

%hr

%p.lead
  = link_to t('welcome.learn_more'), about_path, :class => 'btn btn-lg btn-default'

/ %hr

/ %p= t('welcome.signin_hint')
/ %p= link_to icon(:github)+' '+t("navigation.signin"), signin_path, :class => 'btn btn-lg btn-signin'
