.widget
  .widget-title
    = icon :calculator
    = "Project ##{project.id}"

.widget-body.medium.no-padding
  .table-responsive
    %table.table.table-striped.project
      %tbody
        %tr
          %th Project
          %td= link_to_project project
        %tr
          %th Language
          %td= link_to project.language, :language => project.language

        %tr
          %th Description
          %td= project.description

        %tr
          %th Origin
          %td= project.origin

        %tr
          %th Forked
          %td= project.fork

        %tr
          %th Hooked?
          %td= project.github_hook_active

        %tr
          %th Badge
          %td
            - if project.badge_generated
              = link_to_project project, image_tag(BadgeMarkup.new(project, project.default_branch).image_path(:svg))
              = "(#{project.badge_filled_in_percent}%)"
            - else
              &ndash;

        - if project.badge_generated
          %tr
            %th Badge in README
            %td
              - if project.badge_in_readme?
                %span.text-success= icon(:check)
              - else
                no

        - if project.badge_in_readme_added_at
          %tr
            %th Badge added
            %td= project.badge_in_readme_added_at

        - if project.badge_in_readme_removed_at
          %tr
            %th Badge removed
            %td= project.badge_in_readme_removed_at

        %tr
          %th Created
          %td= project.created_at

        %tr
          %th Homepage URL
          %td= project.homepage_url
        %tr
          %th Source Code URL
          %td= project.source_code_url
        %tr
          %th Repo URL
          %td= project.repo_url
        %tr
          %th Documentation URL
          %td= project.documentation_url
