.col-lg-6
  .widget
    .widget-title
      = icon :database
      Latest projects
      .pull-right
        - @languages.each do |language|
          = link_to_unless @language == language, language, params.merge(:language => language)

    .widget-body
      .table-responsive
        %table.table.projects
          %thead
            %tr
              %th #
              %th GitHub
              %th Origin
              %th Language
              %th Builds
              %th
          %tbody
            - @projects.each do |project|
              - if project.default_branch
                %tr{:class => created_at_classes(project)}
                  %td= link_to_project(project, project.id)
                  %td= link_to(project.name, project.source_code_url, :target => '_blank', :class => 'external')
                  %td= project.origin
                  %td= link_to project.language, :language => project.language
                  %td= link_to icon(:signal), admin_builds_path(:service => project.service_name, :user => project.user_name, :repo => project.repo_name)
                  %td.text-right
                    - if project.default_branch.latest_revision
                      - if project.default_branch.latest_revision.badge_in_readme?
                        %span.text-success= icon(:check)
                      = link_to_project project, image_tag(BadgeMarkup.new(project, project.default_branch).image_path(:svg))
