- rev_diff = build.revision_diff

.history-build-wrapper{:"data-build-id" => build.id}
  %table.table.table-striped.history
    %tbody
      %tr
        %td.status{:class => build_css_class(build)}
          = build_status_icon(build)
          = "##{build.number}"
        %td.revision_uid
          - if revision = build.revision
            - if revision.tag_uid
              - if revision.tag_uid.size < 10
                %span.badge{:title => revision.uid}= revision.tag_uid
              - else
                %span.badge{:title => revision.tag_uid(false)}= revision.tag_uid
            - else
              = revision.message
              %span.text-muted= "[#{revision.uid}]"
          - else
            - if !build.finished?
              Evaluating project ...
        - if build.finished_at
          %td.duration
            %span.text-muted= icon(:"clock-o", :title => t('projects.topbar.info.duration'))
            = (build.finished_at - build.started_at).to_i
            seconds
          %td.finished_at
            %span.text-muted= icon(:"calendar", :title => t('projects.topbar.info.finished_ago'))
            = t("builds.index.finished_ago", :time_ago => time_ago_in_words(build.finished_at))
        - elsif build.started_at
          %td.duration{:colspan => 2}
            %span.text-muted= icon(:"clock-o", :title => t('projects.topbar.info.duration'))
            started
            %span{"data-increment-every-second" => true}
              = (Time.now - build.started_at).to_i
            seconds ago
        - else
          %td.duration{:colspan => 2}

  - if !build.duplicate? && rev_diff && rev_diff.change_count > 0
    = render "/projects/history_revision_diff", :revision_diff => rev_diff
