.revision_diff
  /
    .pull-left
      %span.badge= revision_diff.revision.uid
      = revision_diff.revision.message
    .pull-right
      - revision_diff.changes.each do |key, list|
        - if list.size > 0
          = list.size
          = key

  %table.table.table-striped.grade-table
    - negative_priority_count = 0

    - list = revision_diff.changes['degraded']
    - if list.size > 0
      - list.each do |code_object_diff|
        - code_object = @code_object_map[code_object_diff.after_object_id]
        - before_code_object = @code_object_map[code_object_diff.before_object_id]
        %tr.degraded
          %td.change
            = icon(:bug)
          %td.grade
            .grade-circle{:class => "grade-circle-#{code_object.grade}", :title => t("grade_list_table.grade_icon_hint")}
              = code_object.grade
          %td.fullname
            = code_object.fullname
            %b has gotten worse
            (was #{before_code_object.grade})
          %td.priority
            = image_tag "priority/#{code_object.priority_symbol}.png", :title => t("grade_list_table.priority_icon_hint")

    - list = revision_diff.changes['improved']
    - if list.size > 0
      - list.each do |code_object_diff|
        - code_object = @code_object_map[code_object_diff.after_object_id]
        - before_code_object = @code_object_map[code_object_diff.before_object_id]
        %tr.improved
          %td.change
            = icon(:"smile-o")
          %td.grade
            .grade-circle{:class => "grade-circle-#{code_object.grade}", :title => t("grade_list_table.grade_icon_hint")}
              = code_object.grade
          %td.fullname
            = code_object.fullname
            %b has improved
            (was #{before_code_object.grade})
          %td.priority
            = image_tag "priority/#{code_object.priority_symbol}.png", :title => t("grade_list_table.priority_icon_hint")

    - list = revision_diff.changes['added']
    - if list.size > 0
      - list.each do |code_object_diff|
        - code_object = @code_object_map[code_object_diff.after_object_id]
        - negative_priority_count += 1 if code_object.priority < 0
        %tr.added{:"data-negative-priority" => code_object.priority < 0 ? revision_diff.id : nil, :style => code_object.priority < 0 ? "display: none" : nil}
          %td.change
            = icon(:plus)
          %td.grade
            .grade-circle{:class => "grade-circle-#{code_object.grade}", :title => t("grade_list_table.grade_icon_hint")}
              = code_object.grade
          %td.fullname
            = code_object.fullname
          %td.priority
            = image_tag "priority/#{code_object.priority_symbol}.png", :title => t("grade_list_table.priority_icon_hint")

    - if negative_priority_count > 0
      %tr.show_negative_priority
        %td{:colspan => 4}
          %a{:href => "#", :"data-show-negative-priority" => revision_diff.id}
            Show #{negative_priority_count} low priority changes ...