.repo-wrapper
  .repo-card
    - if @revision.nil?
      = render "topbar"
      - if @pending_build
        = render "wait_for_build", :build => @pending_build
      - else
        %p.start_build
          %em= t('projects.start_build.info')
          = icon('level-up')
    - else
      = render "badge_selector"
      = render "topbar"
      - if @pending_build
        = render "wait_for_build", :build => @pending_build
      - else
        = render "stats"
        .repo-info
          .explanation
            %p
              This page shows an evaluation of the project's documentation.
            %p
              Each class, module, method, etc. is given a grade based on how complete the docs are.
            %p
              The bar above shows the distribution of these grades.
          .table-responsive
            - @collection.each do |grade_list|
              = render "shared/grade_list_table", :grade_list => grade_list

        .inch-links
          %b Everything Inch CI
          %ul.list-unstyled
            %li= link_to "Get your own badge!", root_path
            %li= link_to "Configure a webhook for continuous integration!", help_webhook_path
            %li= link_to "Raising the visibility of inline-docs", "http://trivelop.de/2014/02/24/visibility-of-documentation/"
            %li= link_to "Why Inch doesn't use percentages", "http://trivelop.de/2014/02/17/why-inch-doesnot-use-percentages/"
            %li= link_to "Inch project page", "http://trivelop.de/inch"

        .what-is-this
          = markdown t("projects.page.about", :project_nwo => @project.name, :badge_image_url => badge_markup.image_path, :new_issue_url => github_issue_url(:project => @project))
