= render :layout => "page" do
  .repo-info
    .explanation
      %p
        This page shows an
        %strong evaluation
        of the project's documentation.

      %p
        Each class, module, method, etc. is given a grade based on how complete the docs are.
      %p
        The bar above shows the distribution of these grades.
      - if @project.documentation_url
        %p
          = link_to icon(:search) + ' Read the docs', @project.documentation_url, :target => '_blank', :class => 'btn btn-primary'

    - if @project.language?(:javascript)
      .javascript-beta-hint
        %strong JavaScript support
        is still young. Please
        = link_to "report any mistakes", github_issue_url(:project => @project)
        Inch makes!
    .table-responsive
      - @collection.each do |grade_list|
        = render "shared/grade_list_table", :grade_list => grade_list


  = render "about_footer"
