.stats-wrapper
  .stats
    .progress
      .progress-bar.progress-bar-A{:"data-placement" => 'bottom', :"data-toggle" => 'tooltip', :style => "width: #{@collection.percent('A')}%", :title => t('grade_list_table.header_A')}
      .progress-bar.progress-bar-B{:"data-placement" => 'bottom', :"data-toggle" => 'tooltip', :style => "width: #{@collection.percent('B')}%", :title => t('grade_list_table.header_B')}
      .progress-bar.progress-bar-C{:"data-placement" => 'bottom', :"data-toggle" => 'tooltip', :style => "width: #{@collection.percent('C')}%", :title => t('grade_list_table.header_C')}
      .progress-bar.progress-bar-U{:"data-placement" => 'bottom', :"data-toggle" => 'tooltip', :style => "width: #{@collection.percent('U')}%", :title => t('grade_list_table.header_U')}

    .row
      .col-sm-3.build_number
        %span.text-muted= icon(:server, :title => t('projects.topbar.info.build_number'))

        - if @revision && @build = @revision.builds.last
          = "##{@build.number}"
          %small
            = link_to_build_history(@project)

      .col-sm-3.language
        %span.text-muted= icon(:"quote-right", :title => t('projects.topbar.info.language'))

        = @project.language || t('projects.topbar.info.language_unknown')
        - if !logged_in? || (logged_in? && can_edit?)
          %small
            = link_to_edit_project(@project)

      - if @build.finished_at

        .col-sm-3.duration
          %span.text-muted= icon(:"clock-o", :title => t('projects.topbar.info.duration'))

          = (@build.finished_at - @build.started_at).to_i
          seconds

        .col-sm-3.finished_ago
          %span.text-muted= icon(:"calendar", :title => t('projects.topbar.info.finished_ago'))

          = t("builds.index.finished_ago", :time_ago => time_ago_in_words(@build.finished_at))

      - elsif @build.started_at
        .col-sm-3.duration
          %span.text-muted= icon(:"clock-o", :title => t('projects.topbar.info.finished_at'))

          started
          %span{"data-increment-every-second" => true}
            = (Time.now - build.started_at).to_i
          seconds ago