.topbar
  - if logged_in?
    .back-to-profile= link_to t('projects.topbar.profile_link'), user_path(current_user)
  %h1
    = @project.name
    = link_to icon(:github, :class => 'github-logo'), @project.source_code_url, :target => '_blank'

    - if @pending_build.nil?
      %a{:href => "#", :"data-show-markup" => true}
        - badge_markup.styles.each_with_index do |style, index|
          %span.badge-image-markup{:class => "badge-image-markup-#{style || 'default'}", :style => index == 0 ? nil : "display: none;"}
            = image_tag badge_markup.image_path(:svg, style)



  .pull-left
    %p.description
      = truncate @project.description, :length => 60

  .pull-right
    .btn-group
      %button.btn.btn-default.btn-sm.dropdown-toggle{:type => "button", :"data-toggle" => "dropdown"}
        %em branch:
        %strong= @branch.name
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        - @project.branches.each do |branch|
          %li{:class => branch == @branch ? :active : nil}= link_to_branch branch
        %li.divider
        %li= link_to t('projects.topbar.update_info_link'), project_update_info_path(@project, @branch.name), :method => :post

    - if @project.build_on_inch_ci?
      = link_to t('projects.topbar.rebuild_link'), project_rebuild_path(@project, @branch.name), :method => :post, :class => 'btn btn-default btn-sm', :"data-toggle" => 'tooltip', :title => t('projects.topbar.rebuild_link_tooltip')

    = link_to icon(:twitter) + ' ' + t('projects.topbar.tweet_link'), tweet_url(@project), :target => '_blank', :class => 'btn btn-tweet btn-sm', :"data-toggle" => 'tooltip', :title => t('projects.topbar.tweet_link_tooltip')
  .clearfix

  = render "webhook_hint"
