.repo-wrapper
  .repo-card
    = render "topbar"

    %h2= @branch.name

    %table.table
      %thead
        %tr
          %th= t('.id')
          %th= t('.status')
          %th= t('.message')
          %th= t('.author_name')
          %th= t('.revision')
          %th= t('.duration')
          %th= t('.finished_at')
          %th= t('.trigger')
      %tbody
        - @builds.each do |build|
          - revision = build.revision
          %tr
            %td= build.id
            %td= build.status
            %td= revision.message
            %td= revision.author_name
            %td= build.revision.uid
            %td= build.duration
            %td= build.finished_at
            %td= build.trigger
