- content_for(:subheader) do
  = render "topbar"

- if @revision
  = render "badge_selector"

  .row.row-subsubheader
    .container
      = render "stats"
      = yield(:after_stats)
      = render "subnavi"

.row.row-content
  .container
    - if logged_in?
      = render "form_edit"
    - else
      .edit-signin-hint
        %p= t("projects.topbar.info.edit_signin_hint")
