= render :layout => "page" do
  .repo-info
    .explanation
      %p
        Here you can see the
        %strong build history
        of your project.
      %p
        In case the documentation changed, it is shown here.

    .history-builds.table-responsive
      - not_rendered_builds = []
      - @builds.each_with_index do |build, index|
        - rev_diff = build.revision_diff
        - no_changes_present = rev_diff && rev_diff.change_count == 0
        - if index > 0 && (build.duplicate? || no_changes_present)
          - not_rendered_builds << build
        - else
          - if not_rendered_builds.size > 0
            = render "history_no_changes_builds", :builds => not_rendered_builds
            - not_rendered_builds = []
          = render "history_build", :build => build

.inch-links
  %b Everything Inch CI
  %ul.list-unstyled
    %li= link_to "Get your own badge!", root_path
    %li= link_to "Configure a webhook for continuous integration!", help_webhook_path
    %li= link_to "Raising the visibility of inline-docs", "http://trivelop.de/2014/02/24/visibility-of-documentation/"
    %li= link_to "Why Inch doesn't use percentages", "http://trivelop.de/2014/02/17/why-inch-doesnot-use-percentages/"
    %li= link_to "Inch project page", "http://trivelop.de/inch"

.row.row-prefooter
  .container
    = render "about_footer"
