<div class="repo-wrapper">
  <div class="repo-card">
    <%= render "badge_selector" %>
    <%= render "topbar" %>

    <% if @collection %>
      <%= render :partial => "stats" %>

      <div class="repo-info">
        <div class="explanation">
          <p>
            This page shows an evaluation of the documentation of <a target="_blank" class="github-link" href="<%= @project.source_code_url %>"><%= @project.name %></a>.
          </p>
          <p>
            Each class, module, method, etc. is given a grade based on how complete the docs are.

            The bar above shows the distribution of these grades.
          </p>
        </div>

        <div class="table-responsive">
          <% @collection.each do |grade_list| %>
            <%= render "shared/grade_list_table", :grade_list => grade_list %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<!--
Hi there,

this patch adds a docs badge to the README to show off inline-documentation to potential contributors: [![Inline docs](http://inch-ci.org/github/<%= @project.name %>.png)](http://inch-ci.org/github/<%= @project.name %>)

The badge links to [Inch CI](http://inch-ci.org), a project that tries to raise the visibility of inline-docs to encourage aspiring Rubyists to document their code. Your status page is http://inch-ci.org/github/<%= @project.name %>/

Inch CI is still in its infancy, but already used by projects like [Bundler](https://github.com/bundler/bundler), [Guard](https://github.com/guard/guard), [Haml](https://github.com/haml/haml), [Pry](https://github.com/pry/pry), and [ROM](https://github.com/rom-rb/rom).

What do you think?
-->
