.col-lg-10
  .widget
    .widget-title
      = icon :calculator
      - if action_name == 'days'
        Raw daily numbers
      - elsif action_name == 'weeks'
        Raw weekly numbers
      - else
        Raw monthly numbers

    .widget-body
      .table-responsive
        %table.table.stats-table
          %tbody
            %thead
              %tr
                %th Day
                %th Date
                %th Badges
                %th Ruby
                %th Elixir
                %th JavaScript
                %th Hooks
                %th Projects
                %th Maintainers
                %th w/badges
                %th w/hooks
                %th Users
                %th Signins
                %th Badges Served
                %th Manual Builds
                %th Hooked Builds
                %th Travis Builds
            %tbody
              - @stats.each do |entry|
                %tr
                  %td= entry.shown_date.strftime("%a")
                  %td= entry.shown_date.strftime("%Y-%m-%d")
                  %td= entry.val("projects:badges", true)
                  %td= entry.val("projects:badges:ruby")
                  %td= entry.val("projects:badges:elixir")
                  %td= entry.val("projects:badges:javascript")
                  %td= entry.val("projects:hooked")
                  %td= entry.val("projects:all")
                  %td= entry.val("maintainers:all")
                  %td= entry.val("maintainers:badges")
                  %td= entry.val("maintainers:hooked")
                  %td= entry.val("users:github")
                  %td= entry.val("users:signins:<24h", false)
                  %td= entry.val("badges:served:<24h", false)
                  %td= entry.val("builds:manual:<24h", false)
                  %td= entry.val("builds:hooked:<24h", false)
                  %td= entry.val("builds:travis:<24h", false)

            %tfoot
              %tr
                %td
                %td Average:
                %td= @stats.average("projects:badges", use_changes: true)
                %td= @stats.average("projects:badges:ruby", use_changes: true)
                %td= @stats.average("projects:badges:elixir", use_changes: true)
                %td= @stats.average("projects:badges:javascript", use_changes: true)
                %td= @stats.average("projects:hooked", use_changes: true)
                %td= @stats.average("projects:all", use_changes: true)
                %td= @stats.average("maintainers:all", use_changes: true)
                %td= @stats.average("maintainers:badges", use_changes: true)
                %td= @stats.average("maintainers:hooked", use_changes: true)
                %td= @stats.average("users:github", use_changes: true)
                %td= @stats.average("users:signins:<24h")
                %td= @stats.average("badges:served:<24h")
                %td= @stats.average("builds:manual:<24h")
                %td= @stats.average("builds:hooked:<24h")
                %td= @stats.average("builds:travis:<24h")

              %tr
                %td
                %td Median:
                %td= @stats.median("projects:badges", use_changes: true)
                %td= @stats.median("projects:badges:ruby", use_changes: true)
                %td= @stats.median("projects:badges:elixir", use_changes: true)
                %td= @stats.median("projects:badges:javascript", use_changes: true)
                %td= @stats.median("projects:hooked", use_changes: true)
                %td= @stats.median("projects:all", use_changes: true)
                %td= @stats.median("maintainers:all", use_changes: true)
                %td= @stats.median("maintainers:badges", use_changes: true)
                %td= @stats.median("maintainers:hooked", use_changes: true)
                %td= @stats.median("users:github", use_changes: true)
                %td= @stats.median("users:signins:<24h")
                %td= @stats.median("badges:served:<24h")
                %td= @stats.median("builds:manual:<24h")
                %td= @stats.median("builds:hooked:<24h")
                %td= @stats.median("builds:travis:<24h")



.col-lg-2
  .widget
    .widget-title
      Filters

    .widget-body
      %p
        Showing
        = time_units_back
        - if action_name == 'days'
          days.
        - elsif action_name == 'weeks'
          weeks.
        - else
          months.

      %p
        Change to:
        = link_to "48", :time_units_back => 48
        = '|'
        = link_to "96", :time_units_back => 96
        = '|'
        = link_to "All", :time_units_back => 'all'
