.col-lg-10
  .widget
    .widget-title
      = icon :calculator
      - if action_name == 'days'
        Raw daily numbers
      - elsif action_name == 'weeks'
        Raw weekly numbers
      - else
        Raw monthly numbers

    .widget-body
      .table-responsive
        %table.table.stats-table
          %tbody
            %thead
              %tr
                - @stats_headers.each do |value|
                  %th= value
            %tbody
              - @stats.each do |stats|
                %tr
                  - stats.each do |value|
                    %td= value



.col-lg-2
  .widget
    .widget-title
      Filters

    .widget-body
      - if action_name == 'days'
        Days back:
      - elsif action_name == 'weeks'
        Weeks back:
      - else
        Months back:

      = link_to "48", :time_units_back => 48
      = '|'
      = link_to "96", :time_units_back => 96
      = '|'
      = link_to "All", :time_units_back => 'all'