<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>

  <body class="repo">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/"># Inch CI</a></h3>
              <ul class="nav masthead-nav">
                <% if logged_in? %>
                  <li class="<%= current_page?(user_path(current_user)) ? 'active' : nil %>">
                    <%= link_to current_user.name, user_path(current_user) %>
                  </li>
                <% end %>
                <% if @project %>
                  <li class="<%= @project && current_page?(project_path(@project)) ? 'active' : nil %>">
                    <%= link_to t("navigation.report_card"), params %>
                  </li>
                <% end %>
                <li>
                  <%= link_to t("navigation.what_is_this"), about_path %>
                </li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <%= yield %>
          </div>

          <%= render "layouts/footer" %>
        </div>

      </div>

    </div>
    <%= render "shared/ga" %>
  </body>
</html>
