<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>

  <body class="repo">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/"># Inch CI</a></h3>
              <ul class="nav masthead-nav">
                <li class="active"><%= link_to t("navigation.report_card"), params %></li>
                <li><%= link_to t("navigation.what_is_this"), about_path %></li>

                <% if current_user %>
                  <li><%= link_to current_user.display_name, user_path(current_user) %></li>
                  <li><%= link_to "Sign out", signout_path %></li>
                <% else %>
                  <li><%= link_to "Sign in with Github", signin_path %></li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <%= yield %>
          </div>

          <%= render "layouts/footer" %>
        </div>

      </div>

    </div>
    <%= render "shared/ga" %>
  </body>
</html>
